.tic-tac-toe-main-cont {
	background-color: black;
	color: white;
}
.board-cont {
	padding: 20px;
}
.board-option-cont {
	padding: 20px;
}
.tictactoe-row {
}
.board-center-cont {
	overflow: hidden;
}

.tictactoe-each {
	height: 15vh;
	width: 15vh;
	cursor: pointer;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.027);
	transition: all 4s;
	text-transform: uppercase;
}
.board-item-text {
	font-size: 2em !important;
}
.tictac-rando-lost {
	color: rgb(160, 160, 160);
}
.tictac-winner {
	font-size: 3.3em !important;
	transition: all 1.2s;
}
.tictac-result-text {
	text-transform: lowercase;
	font-size: 2em !important;
	font-family: "helvetica-hue";
	letter-spacing: 2px !important;
}
.border-bot-right {
	border-bottom: 1px solid white;
	border-right: 1px solid white;
}
.border-right {
	border-right: 1px solid white;
}
.border-bot {
	border-bottom: 1px solid white;
}
.tictactoe-button-picker {
	background-color: white !important;
	margin: 0 10px !important;
	border: 6px solid red !important;
	transition: all 1s;
	filter: brightness(60%);
}
.tictactoe-picked {
	filter: invert() brightness(100%);
}
.tictactoe-button-picker:hover {
	filter: invert() brightness(100%) hue-rotate(97deg);
}

.tictac-gamemode-options {
	color: white !important;
	border: 1px solid #f50057;
}
.tictac-gamemode {
	padding: 5px !important;
}
.invis {
	display: none !important;
}
