.toolbox-cont {
	height: 100%;
}
.main-cont {
	height: 100vh;
	overflow: hidden;
	position: relative;
}
.helvetica-neue-font {
	font-family: 'Helvetica Neue' !important;
}
.screen-cont {
	background-color: rgb(0, 0, 0);
	color: white;
	height: 70vh;
}

.screen-title-cont {
	height: 10%;
}
.screen-title-cont .helvetica-neue-font {
	font-weight: 200 !important;
	text-transform: uppercase;
	letter-spacing: 5px;
}
.screen-app-cont {
	height: 90%;
	background-color: rgb(0, 0, 0);
}
/*  */
.selection-cont {
	background-color: black;
	height: 30vh;
}
.selection-bar-cont {
	cursor: pointer;
	height: 20%;
	border-top: 1px dotted white;
}
.selection-bar-option {
	padding: 10px;
	color: white;
}
.selection-bar-option:hover {
	background-color: rgb(0, 0, 0);
	color: white;
}
.selection-bar-text {
	text-transform: uppercase;
	letter-spacing: 1.5px !important;
}
.item-selection-cont {
	height: 60%;
	position: relative;
	overflow: hidden;
}
.selection-object {
	background-color: rgb(255, 255, 255);
	height: 40%;
	margin-bottom: 30px !important;
	text-align: center;
	cursor: pointer;
	border: 1px solid black;
}
.selection-object:hover {
	background-color: black;
	color: white;
}
.arrow {
	position: absolute;
	background-color: black;
	padding: 20px;
	font-size: 10px !important;
	border: 1px dashed white;
	color: white;
	border-radius: 100%;
	cursor: pointer;
	bottom: 0;
}
.arrow:hover {
	background-color: white;
	color: black;
}
.lefta {
	left: 0;
}
.righta {
	right: 0;
}
/*  Calc*/
.calc-button-text {
	font-size: 1.7em !important;
	font-weight: 300 !important;
}
.calc-row-each {
	cursor: pointer;
}
.calc-each-button-cont {
	border: 1px solid rgb(255, 255, 255);
}
.calc-t {
	background-color: white;
	border-radius: 5px;
}
.results {
	border: 1px solid rgb(156, 156, 156);
	border-radius: 5px;
	padding: 10px;
	color: rgb(168, 168, 168);
}
.history-cont {
	height: 80%;
	overflow: scroll;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
.history-cont::-webkit-scrollbar {
	display: none;
}
.equation {
	overflow: scroll;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
.equation::-webkit-scrollbar {
	display: none;
}
.screen-calc-cont {
	height: 35%;
	padding: 10px 20px 0 20px;
}
.calc-cont {
	height: 60%;
	padding: 0 20px 10px 20px;
}

.modal-cont {
	position: absolute;
	background-color: rgb(147, 189, 147);
	left: 0;
	top: 0;
	height: 100%;
	z-index: 1;
}
